<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/node_modules/materialize-css/dist/css/materialize.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
</head>

<body>
<nav class="nav-extended #512da8 deep-purple">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Orders</a>

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            @*Admin menu*@
        </ul>
        <ul class="side-nav" id="mobile-demo">
            @*Admin menu*@
        </ul>
    </div>

    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#">Purchased</a></li>
            <li class="tab"><a href="#">In progres</a></li>
            <li class="tab"><a href="#">Completed</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    @RenderBody()
</div>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/materialize-css/dist/js/materialize.min.js"></script>
</body>

</html>
